.lenker {
  display: grid;
  grid-template-columns: repeat(auto-fit, 9rem);
  grid-auto-rows: 7rem;
  gap: 2rem 2rem;
  margin-bottom: 2rem;

  &__item {
    text-align: center;
    a {
      text-decoration: none;
      color: black;
    }
  }
  &__img {
    object-fit: contain;
    height: 7rem;
  }
}
