.oversikt {
  max-width: 50%;
  margin: auto;
  &__sak {
    text-align: center;
    padding-bottom: 3rem;
    button {
      font-size: var(--font_size-300-breakpoint_md) !important;
      justify-content: start;
      padding: 2rem 2rem 2rem 1.5rem;
      border-radius: 12px;
      background: #fffbfe !important;
      border: 0;
      box-shadow: 0 0 0 2px #ccc6d1;
      &:hover {
        box-shadow: 0 0 0 2px #6c55a7 !important;
      }
      &:active {
        color: var(--colors-blue-900);
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    margin: auto;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10rem;
    }

    .lenker {
      display: flex;
      flex-direction: column;

      &__wrapper {
        margin-bottom: 1rem;

        .link-button-wrapper {
          width: 100%;

          button {
            font-size: var(--font_size-300-breakpoint_md) !important;
            justify-content: start;
            padding: 2.5rem 5rem 2.5rem 1.5rem;
            border-radius: 12px;
            background: #fffbfe !important;
            border: 0;
            box-shadow: 0 0 0 2px #ccc6d1;
            &:hover {
              box-shadow: 0 0 0 2px #6c55a7 !important;
            }
            &:active {
              color: var(--colors-blue-900);
            }
          }
        }
      }
    }
  }
}
