%common-button {
  display: inline-flex;
  font-size: var(--font_size-300-breakpoint_md) !important;
  font-weight: 500;
  justify-content: start;
  align-items: center;
  border-radius: 12px;
  border: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2.5rem 3rem 2.5rem 1.5rem;

  &:hover {
    box-shadow: 0 0 0 2px #95227d !important;
    background: white !important;
  }
  &:active {
    color: var(--colors-blue-900);
  }
  &:focus-within {
    box-shadow: 0 0 0 var(--fds-focus-border-width)
      var(--fds-inner-focus-border-color);
  }
  img {
    padding-right: 0.5rem;
  }
}

.oversikt {
  max-width: 90rem;
  margin: 0 auto;

  &__sak {
    text-align: center;

    @media (max-width: 820px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &-links {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      @media (max-width: 724px) {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      button {
        @extend %common-button;
        padding-left: 1rem;
        padding-right: 1.5rem;
        box-shadow: 0 0 0 2px #ccc6d1;
        &:hover {
          box-shadow: 0 0 0 2px #118849 !important;
        }
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    @media (max-width: 828px) {
      justify-content: space-evenly;
    }

    @media (max-width: 724px) {
      flex-direction: column;
      justify-content: center;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2rem;

      @media (max-width: 724px) {
        margin: 0;
      }
    }

    .lenker {
      display: flex;
      flex-direction: column;

      &__wrapper {
        margin-bottom: 1rem;

        .link-button-wrapper {
          width: 100%;

          button {
            @extend %common-button;
            box-shadow: 0 0 0 2px #ccc6d1;
          }
        }
      }
    }
  }
}
