.lenker {
  display: flex;
  flex-flow: wrap;
  &__item {
    text-align: center;
    flex: 0 0 16%;
    margin-bottom: 1rem;
    a {
      text-decoration: none;
      color: black;
    }
  }
  &__img {
    object-fit: contain;
    height: 7rem;
  }
}