.status-badge {
  border-radius: 0.375rem;
  padding: 0.35em 0.65em;
  width: fit-content;
  color: white;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  background-color: gray;

  &.primary {
    background-color: var(--colors-blue-700);
  }
  &.danger {
    background-color: var(--colors-red-700);
  }
  &.success {
    background-color: var(--colors-green-700);
  }
}
