.loading-bar {
  max-width: 12rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  &.large {
    min-height: 2.5rem;
    max-width: inherit;
  }

  &__wrapper {
    height: 100%;
    border-radius: 10px;
    background-color: var(--fds-semantic-surface-neutral-subtle-hover);
  }
  &__percentage {
    height: 100%;
    border-radius: 10px;
    &.info {
      background-color: var(--fds-semantic-surface-third-light-active);
    }
    &.danger {
      background-color: var(--fds-semantic-surface-danger-no_fill-active);
    }
    &.warning {
      background-color: var(--fds-semantic-surface-warning-default);
    }
    &.success {
      background-color: var(--fds-semantic-surface-success-default);
    }
    &.neutral {
      background-color: var(--fds-semantic-surface-neutral-dark);
    }
  }
  &__label {
    &.center {
      text-align: center;
    }
  }
}
