.loading-bar-container {
  max-width: 12rem;
  height: 2rem;
  box-shadow: 0 0 0 1px var(--fds-semantic-border-success-default);
  border-radius: 3px;
  overflow: hidden;
}
.loading-bar {
  position: relative;
  height: 100%;
  background-color: var(--fds-semantic-surface-success-default);
}

.percentage-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  color: white;
}
