.loading-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  &.large {
    min-height: 2rem;
  }

  &.right,
  &.left {
    align-items: center;
    height: 1rem;
    gap: 0.5rem;
  }

  &.right {
    flex-direction: row-reverse;
  }

  &.left {
    flex-direction: row;
  }

  &__progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    min-width: 6rem;
    height: 1rem;
    border: 0;
    overflow: hidden;
    border-radius: 15px;

    &.info {
      &::-webkit-progress-value {
        background: var(--ds-color-info-surface-active);
      }
      &::-moz-progress-bar {
        background: var(---ds-color-info-surface-active);
      }
    }

    &.danger {
      &::-webkit-progress-value {
        background: var(--ds-color-danger-surface-active);
      }
      &::-moz-progress-bar {
        background: var(--ds-color-danger-surface-active);
      }
    }

    &.warning {
      &::-webkit-progress-value {
        background: var(--ds-color-warning-surface-active);
      }
      &::-moz-progress-bar {
        background: var(--ds-color-warning-surface-active);
      }
    }

    &.success {
      &::-webkit-progress-value {
        background: var(--ds-color-success-surface-active);
      }
      &::-moz-progress-bar {
        background: var(--ds-color-success-surface-active);
      }
    }

    &.neutral {
      &::-webkit-progress-value {
        background: var(--ds-color-neutral-dark);
      }
      &::-moz-progress-bar {
        background: var(--ds-color-neutral-dark);
      }
    }

    &.first {
      &::-webkit-progress-value {
        background: var(--ds-color-brand1-surface-tinted);
      }
      &::-moz-progress-bar {
        background: var(--ds-color-brand1-surface-tinted);
      }
    }

    &.second {
      &::-webkit-progress-value {
        background: var(--ds-color-brand2-surface-tinted);
      }
      &::-moz-progress-bar {
        background: var(--ds-color-brand2-surface-tinted);
      }
    }

    &.third {
      &::-webkit-progress-value {
        background: var(--ds-color-brand3-surface-tinted);
      }
      &::-moz-progress-bar {
        background: var(--ds-color-brand3-surface-tinted);
      }
    }

    &::-webkit-progress-bar {
      background-color: var(--ds-color-brand1-background-tinted);
      border-radius: 10px;
    }
  }

  &__label {
    &.center {
      text-align: center;
    }
  }
}
