.testreglar {
  &__content {
    padding-top: 1rem;
  }
}

.testreglar-regelsett {
  &__list {
    max-height: 32rem;
    overflow-y: auto;
  }
  &__list-item {
    margin: 0.5rem;
  }
}

.testregel-form {
  width: 25%;
}
