.sak {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    padding-bottom: 2.5rem;
  }

  &__stepper {
    grid-column: 1 / 4;
    .sak-stepper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      &__text {
        grid-column: 1;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-bottom: 2.5rem;
        color: var(--colors-grey-600);

        .title {
          font-weight: bold;
        }
        .active {
          color: var(--colors-blue-800);
        }
      }
      &__icon {
        grid-column: 2 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2.5rem;

        .icon-wrapper {
          .icon-button {
            border: 1px solid var(--colors-grey-200);
            background-color: white;
            cursor: pointer;
            font-size: large;
            color: var(--colors-grey-600);
          }
          .icon-button.active {
            background-color: var(--colors-blue-700);
            color: white;
          }
        }
      }
    }
  }

  &__form {
    grid-column: 4 / 13;

    .sak-init {
      grid-column: 1 / 6;
    }

    .sak-loeysing {
      &__selection {
        grid-column: 9 / 13;
        .item {
          padding: 1rem 0;
        }
      }

      &__table {
        grid-column: 1 / 8;
      }
    }

    .sak-testreglar,
    .sak-confirm {
      grid-column: 1 / 7;
    }

    .sak-confirm {
      &__header {
        margin: 0;
      }
      &__list {
        list-style: none;
      }
      &__muted {
        color: var(--colors-grey-600);
      }
      .accordion-list {
        max-height: 32rem;
        overflow-y: auto;
        &__item {
          border-bottom: 1px solid var(--colors-grey-500);
          &:last-child {
            border-bottom: none;
          }
        }
      }
      li {
        padding: 1rem 0;
      }
    }
  }
}
