.sak {
  padding-top: 1rem;
  .testlab-form {
    display: flex;
    justify-content: left;
  }

  &__form {
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__container {
    padding-bottom: 1.5rem;
    display: flex;

    .sak-init {
      width: 100%;
    }

    .sak-loeysing {
      &__input-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 1rem;
      }

      &__input-select {
        width: 35%;
      }

      &__crawl-wrapper {
        grid-column: 1 / 4;
      }
      &__crawl-input {
        padding-top: 1rem;
      }
    }

    .sak-testreglar {
      grid-column: 1 / 7;
    }
    .sak-confirm {
      grid-column: 1 / 10;
    }

    .sak-confirm {
      &__header {
        margin: 0;
      }
      &__list {
        list-style: none;
      }
      &__muted {
        color: var(--colors-grey-600);
      }
      .accordion-list {
        max-height: 32rem;
        overflow-y: auto;
        &__item {
          border-bottom: 1px solid var(--colors-grey-500);
          &:last-child {
            border-bottom: none;
          }
        }
      }
      li {
        padding: 1rem 0;
      }
    }
  }
}
