.sak {
  padding-top: 1rem;
  .testlab-form {
    display: flex;
    justify-content: left;
    &__header {
      margin-bottom: 0;
    }
  }

  &__form {
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__container {
    padding-bottom: 1.5rem;
    display: flex;

    .sak-init {
      width: 75%;
    }

    .sak-loeysing {
      width: 75%;
      &__input-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 1rem;
      }

      &__input-select {
        width: 35%;
      }
    }

    .sak-testreglar {
      width: 75%;
      &__input-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 1rem;
      }

      &__input-select {
        width: 50%;
      }
    }

    .sak-confirm {
      min-width: 50vw;

      span,
      div,
      ol,
      li {
        font-family: 'Inter', sans-serif;
      }

      &__list {
        list-style: none;
        width: 100%;
      }
      &__muted {
        color: var(--colors-grey-600);
      }
      .accordion-list {
        max-height: 32rem;
        overflow-y: auto;
        margin: 0;

        &.unnumbered {
          list-style: none;
        }

        &__item {
          border-bottom: 1px solid var(--colors-grey-500);
          &:last-child {
            border-bottom: none;
          }
        }
      }
      li {
        padding: 1rem 0;
      }
    }
  }
  &__crawl-input {
    padding-top: 1rem;
  }
}
