.file-drop-container {
  display: flex;
  flex-direction: column;

  .file-upload-instructions {
    border: 0.125rem dotted var(--colors-blue-300);
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    position: relative;

    &.drag-over {
      background: var(--colors-blue-100);
    }

    &.file {
      border: none;
      padding: 0;
    }

    .file-upload-canvas {
      border: 1px solid;
      &.hidden {
        display: none;
      }
    }
  }

  .file-count {
    font-weight: lighter;
  }
}
