.testregel-button-wrapper {
  position: relative;
  &.active:after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 15%;
    transform: translateX(-50%);
    border-width: 15px;
    border-style: solid;
    border-color: var(--fds-semantic-surface-first-light-active) transparent
      transparent transparent;
  }
}

.testregel-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--fds-semantic-surface-neutral-default);
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  height: 8rem;
  min-width: 12rem;
  max-width: 18rem;

  &.active {
    background-color: var(--fds-semantic-surface-first-light);
    .testregel-button-id {
      background-color: var(--fds-semantic-surface-first-light-active);
    }

    &:hover {
      background-color: var(--fds-semantic-surface-first-light);
      .testregel-button-id {
        background-color: var(--fds-semantic-surface-first-light-active);
      }
    }
  }

  &-id {
    background-color: var(--fds-semantic-surface-action-default);
    color: var(--fds-semantic-surface-neutral-default);
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 6rem;
    width: 5rem;
    min-width: 5rem;
  }

  &:hover {
    box-shadow: 0 0 2px var(--fds-semantic-border-focus-boxshadow);
    background-color: var(--fds-semantic-surface-neutral-subtle-hover);
    .testregel-button-id {
      background-color: var(--fds-semantic-surface-action-hover);
    }
  }

  &-name {
    padding: 1rem;
    min-width: 8rem;
  }
}
