.testregel-button-wrapper {
  position: relative;
  &.active:after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 15%;
    transform: translateX(-50%);
    border-width: 15px;
    border-style: solid;
    border-color: var(--fds-semantic-surface-first-light-active) transparent
      transparent transparent;
  }
}

.testregel-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--fds-semantic-surface-neutral-default);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  height: 10rem;
  min-width: 18rem;
  max-width: 26rem;

  &.done {
    background-color: var(--fds-semantic-surface-third-light-hover);
    .testregel-button-id {
      background-color: var(--fds-semantic-surface-third-dark);
    }

    &:hover {
      background-color: var(--fds-semantic-surface-third-light-active);
      .testregel-button-id {
        background-color: var(--fds-semantic-surface-third-dark);
      }
    }
  }

  &.non-relevant {
    background-color: var(--fds-semantic-surface-neutral-subtle);
    .testregel-button-id {
      background-color: var(--fds-semantic-surface-neutral-dark);
    }

    &:hover {
      background-color: var(--fds-semantic-surface-neutral-subtle-hover);
      .testregel-button-id {
        background-color: var(--fds-semantic-surface-neutral-dark-hover);
      }
    }
  }

  &.active {
    background-color: var(--fds-semantic-surface-first-light);
    .testregel-button-id {
      background-color: var(--fds-semantic-surface-first-light-active);
    }

    &:hover {
      background-color: var(--fds-semantic-surface-first-light-hover);
      .testregel-button-id {
        background-color: var(--fds-semantic-surface-first-light-active);
      }
    }
  }

  &-id {
    background-color: var(--fds-semantic-border-action-first-subtle-hover);
    color: var(--fds-semantic-surface-neutral-default);
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8rem;
    width: 3rem;
    min-width: 5rem;
    font: var(--fds-typography-paragraph-medium);
    font-family: 'Inter', sans-serif;

    .id-text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      .status {
        font: var(--fds-typography-paragraph-xsmall);
        font-family: 'Inter', sans-serif;
      }
    }
  }

  &:hover {
    box-shadow: 0 0 2px;
    background-color: var(--fds-semantic-surface-neutral-subtle-hover);
    .testregel-button-id {
      background-color: var(--fds-semantic-surface-action-hover);
    }
  }

  &:focus-visible {
    outline: 3px solid #fadf4b;
    outline-offset: 3px;
    box-shadow: 0 0 0 3px #1e2b3c;
    border-radius: 3px;
  }

  &-name {
    padding: 1rem;
    min-width: 8rem;
  }
}
