.testlab-form__field-array {
  display: flex;
  align-items: start;
  flex-direction: column;
  max-width: 30rem;
  &-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
    width: 100%;
    &__input {
      width: 100%;
    }
    &-label {
      padding-top: 0.5rem;
    }
  }
}
