.testlab-form__field-array {
  display: flex;
  align-items: start;
  flex-direction: column;
  &-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    padding-bottom: 1rem;
    justify-content: center;

    &:hover {
      color: var(--semantic-text-neutral-subtle);
    }

    &__input {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;
    }

    &-label {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 1rem;
    }
  }
}
