.status-chart {
  max-width: 50%;
  margin-bottom: 2rem;

  &__heading {
    padding-bottom: 0.5rem;
  }

  &__progress-element {
    margin-bottom: 0.5rem;
  }

  &__bar {
    height: 1rem;

    &--crawler {
      background-color: #0062ba;
    }

    &--ferdig {
      background-color: #118849;
    }

    &--feilet {
      background-color: #e02e49;
    }
  }
}
