.testlab-divider {
  width: 100%;
  background-color: var(--ds-color-neutral-border-subtle);

  &.xsmall {
    margin: var(--ds-letter-spacing-2) 0;
  }

  &.small {
    margin: var(--ds-letter-spacing-4) 0;
  }

  &.medium {
    margin: var(--ds-letter-spacing-6) 0;
  }

  &.large {
    margin: var(--ds-letter-spacing-9) 0;
  }
}
