.styringsdata {
  display: flex;
  justify-content: center;
}

.styringsdata-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75vw;
  max-width: 42rem;
}

.oeking-type {
  display: flex;
  align-items: center;
  gap: 1rem;
}
