.maaling-overview {
  display: flex;

  .bold-text {
    font-weight: bold;
  }

  .parameter {
    padding-right: 20%;
    min-width: 20%;

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      padding: 1rem 0;
    }
  }

  .status {
    position: relative;
    min-width: 20%;

    &__item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      padding-bottom: 1rem;
      &:last-child {
        padding-bottom: 0;
      }

      .link-text {
        display: inline-flex;
        align-items: center;
        padding-left: 1rem;
      }
      .status-icon-wrapper {
        display: inline-flex;
        justify-content: center;
      }
    }

    &__list-item {
      padding: 1rem 0;
      &.centered {
        display: flex;
        justify-content: center;
      }
    }

    &__alert {
      position: absolute;
      width: 100%;
    }
  }
}
