.testlab-form {
  &__header {
    margin-bottom: 2.5rem;
    .heading {
      margin: 0 0 10px 0;
    }
    p {
      margin: 0;
      color: var(--colors-grey-600);
    }
  }

  &__input,
  &__select {
    padding-bottom: 1.5rem;
  }
  &__input-label {
    color: var(--fds-semantic-text-neutral-default);
  }
  &__input-sub-label {
    color: var(--fds-semantic-text-neutral-subtle);
    font-size: small;
    padding-bottom: 0.25rem;
  }

  &__navigation-buttons {
    display: flex;
    justify-content: start;
    button + button {
      margin-left: 1rem;
    }
  }
}
