.testlab-form {
  &__input,
  &__select {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding-bottom: 2rem;
    max-width: 24rem;
  }

  &__input {
    &.date {
      input {
        max-width: 8rem;
      }
    }
  }

  &__select {
    max-width: 24rem;
  }

  &__input-label {
    color: var(--fds-semantic-text-neutral-default);
  }
  &__input-sub-label {
    color: var(--fds-semantic-text-neutral-subtle);
    padding-bottom: 0.25rem;
  }

  &__navigation-buttons {
    display: flex;
    justify-content: start;
    padding-top: 2rem;
    button + button {
      margin-left: 1rem;
    }
  }

  &__header {
    padding-bottom: 2rem;
    max-width: 36rem;
  }

  .asterisk-color {
    color: var(--fds-semantic-text-danger-default);
  }
}
