.testlab-form {
  &__input,
  &__select {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2.5rem;
  }
  &__input-label {
    color: var(--fds-semantic-text-neutral-default);
  }
  &__input-sub-label {
    color: var(--fds-semantic-text-neutral-subtle);
    font-size: small;
    padding-bottom: 0.25rem;
  }

  &__navigation-buttons {
    display: flex;
    justify-content: start;
    button + button {
      margin-left: 1rem;
    }
  }

  &__header {
    padding-bottom: 2rem;
  }

  .asterisk-color {
    color: var(--fds-semantic-text-danger-default);
  }
}
