.alert-container {
  display: flex;
  justify-content: center;
}

.alert {
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 5px;

  &.success {
    background-color: var(--fds-semantic-surface-success-subtle);
  }

  &.error {
    background-color: var(--fds-semantic-surface-danger-subtle);
  }
}
