.navigation {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background-color: var(--fds-semantic-surface-neutral-inverted);
  color: var(--fds-semantic-surface-on_inverted-default);

  &:hover {
    color: var(--fds-semantic-surface-on_inverted-hover);
  }

  &__list {
    @media (min-width: 829px) {
      display: flex;
      justify-content: space-evenly;
    }
  }

  &__item {
    padding: 0 1rem;

    .link {
      display: flex;
      align-items: stretch;
      width: 100%;
      text-decoration: none;
      color: inherit;

      &.disabled {
        opacity: var(--fds-opacity-disabled);

        button {
          cursor: not-allowed;
        }
      }
    }
  }

  .hamburger {
    @media (min-width: 829px) {
      display: none;
    }
  }

  @media (max-width: 828px) {
    flex-direction: column;
    align-items: flex-end;

    .home {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &__list {
      width: 100%;

      &.open {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;

        .dropdown-content {
          &.links {
            margin-top: 0.5rem;
            position: initial;
            width: 100%;
          }
        }

        .navigation__item {
          display: block;
          padding: 0;
          width: 100%;

          .dropdown {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1rem;

            .link button {
              text-align: center;
              font-size: 1rem;
            }
          }
        }
      }

      .navigation__item {
        display: none;
      }

      .dropdown__button:hover {
        color: var(--fds-semantic-surface-neutral-subtle-hover);
        background: none !important;
      }
    }
  }
}
