.navigation {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--fds-semantic-surface-neutral-inverted);
  color: var(--fds-semantic-surface-on_inverted-default);
  &:hover {
    color: var(--fds-semantic-surface-on_inverted-hover);
  }

  &__item {
    .link {
      display: flex;
      align-items: stretch;
      width: 100%;
      text-decoration: none;
      color: var(--fds-semantic-surface-on_inverted-default);

      .link-button {
        flex-grow: 1;
        width: 100%;
        padding: 1rem;
        margin: 0;
        border: none;
        background-color: transparent;
        transition: color 0.2s;
        cursor: pointer;
      }
    }

    padding: 0 1rem;

    .dropdown {
      position: relative;
      .dropdown-content {
        padding: 0;
        margin: 8px 0 auto;
        min-width: 12rem;
        list-style: none;
        box-shadow: var(--fds-shadow-medium);
        z-index: 9999;
        position: absolute;
        background-color: var(--fds-semantic-background-default);
        border-radius: 3px;
        &__item {
          display: flex;
          align-items: stretch;
          &:hover {
            background-color: var(--fds-semantic-surface-neutral-subtle-hover);
          }
          .link-button {
            color: var(--fds-semantic-text-neutral-default);
            text-align: start;
          }
        }
      }
    }
  }
}
