.link-button-wrapper {
  width: fit-content;
  > button:hover {
    color: var(--fds-semantic-surface-neutral-subtle-hover);
    background: none !important;
  }
  > a {
    text-decoration: none;
  }
}
