.bygg-kontroll {
  margin: 0 auto;
  width: 800px;
}

.stepper ol {
  display: flex;
  justify-content: space-between;
  margin: 0 0 6rem 0;
  padding: 0;
  position: relative;
}

.stepper ol::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: calc(50% - 0.5px);
  height: 1px;
  width: 100%;
  background-color: var(--fds-semantic-surface-first-dark);
}

.stepper ol li {
  list-style: none;
  padding: 0.5rem 1rem;
  background-color: var(--fds-semantic-surface-first-light);
  border-radius: 10px;
  border: 2px solid transparent;
}

.stepper .selected {
  background-color: var(--fds-semantic-surface-first-light-active);
  border: 2px solid var(--fds-semantic-surface-first-dark);
  color: white;
}

.ingress {
  font-size: 1.5rem;
}

.skjema {
  background-color: var(--fds-semantic-surface-third-light);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 3rem 4rem;
}

.skjema-overskrift {
  padding: 2rem 0;
  border-bottom: 1px solid var(--fds-semantic-surface-success-active);
  margin-bottom: 2rem;
}

.combo-box,
.tittel,
.saksbehandler {
  width: 50%;
}

.arkivreferanse {
  width: 25%;
}

.opprettResten {
  align-self: flex-start;
}

/* Velg løsninger */

.velg-loesninger-overskrift {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.utvalg-eller-manuelt,
.nyeste-utvalg-buttons {
  button {
    background-color: var(--fds-semantic-surface-first-light);
    color: black;
    border: none;
    font-size: 1.5rem;
    border-radius: 10px;

    &:hover {
      background-color: var(--fds-semantic-surface-first-light-hover);
    }

    &:active {
      background-color: var(--fds-semantic-surface-first-light-active);
    }

    &.selected {
      background: linear-gradient(
        var(--fds-semantic-surface-first-light-active),
        rgb(157 160 228 / 0.6),
        var(--fds-semantic-surface-first-light-active)
      );
    }
  }
}

.utvalg-eller-manuelt {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}

.utvalg-eller-manuelt button {
  width: 100%;
  height: 8rem;
}

.nyeste-utvalg-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 1.5rem 0;

  button {
    width: calc(100% / 3 - 1rem);
    height: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.eldre-utvalg {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  li {
    flex: 1 1 calc(100% / 2 - 1rem);
    max-width: calc(100% / 2 - 1rem);

    button {
      border: none;
      background: none;
      text-align: left;
      font-size: 1rem;
      padding: 0.5rem;
      cursor: pointer;

      &.selected {
        background-color: var(--fds-semantic-surface-first-light);
        border-radius: 10px;
      }
    }
  }
}

.lagreOgNeste {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
