@import '@digdir/designsystemet-theme/brand/tilsynet/tokens.css';
@import '@digdir/designsystemet-css';

$blaasvart: #1e2b3c;

body {
  color: $blaasvart;
  font-family: 'Inter', sans-serif;

  p,
  a,
  button,
  input,
  label,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Inter', sans-serif !important;
  }

  a {
    color: var(--fds-semantic-text-neutral-default);

    &:hover {
      color: var(--fds-semantic-text-neutral-subtle);
    }
  }
}

.app-container {
  padding: 1rem 2rem;
  max-width: 2560px;
  margin: 0 auto;
}
