.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: start;

  &-instructions {
    border: 0.125rem dotted var(--colors-blue-300);
    padding: 3rem;
    width: 100%;
    text-align: center;
    position: relative;

    &.drag-over {
      background: var(--colors-blue-100);
    }

    &.file {
      border: 1px solid var(--colors-blue-300);
      padding: 0;
    }
  }

  &-manual-input {
    display: none;
  }

  &-manual-link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--fds-semantic-text-action-default);
    &:hover {
      color: var(--fds-semantic-text-action-hover);
      text-decoration-thickness: max(2px, 0.125rem, 0.12em);
    }
  }

  &-canvas {
    max-width: 32rem;
    max-height: 32rem;
    width: auto;
    height: auto;
    &.hidden {
      display: none;
    }

    &.full-size {
      max-width: none;
      max-height: none;
    }
  }

  &-user-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .farge {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 2rem;
      height: 2.2rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .farge::-webkit-color-swatch {
      border-radius: 3px;
      border: none;
    }
    .farge::-moz-color-swatch {
      border-radius: 3px;
      border: none;
    }
  }

  .file-count {
    font-weight: lighter;
  }
}
