.testlab-table {
  a {
    color: var(--fds-semantic-text-action-default);
  }

  &__table {
    margin-bottom: 1rem;
    table-layout: fixed;
    overflow-wrap: break-word;
  }

  &__header-button {
    text-decoration: none;
    padding: 0;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
  }

  &__user-action {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .control-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    &__input {
      min-width: 16rem;
      margin-bottom: 0.75rem;
    }
  }

  .pagination-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    &__button-list {
      display: inline-flex;
      .number-button {
        margin: 0 0.25rem;
        width: 0.5rem;
      }
    }
    &__pagination-select-wrapper {
      display: flex;
      align-items: center;
      label {
        margin-right: 0.75rem;
      }
      .pagination-select {
        width: 4rem;
      }
    }
  }

  &__column-filter {
    max-width: 50%;
  }

  .table-skeleton {
    padding: 1rem;
  }
}
