.testlab-table {
  .sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  &__table {
    margin-bottom: 1rem;
    table-layout: fixed;
    overflow-wrap: break-word;

    &.table-error {
      box-shadow: 0 0 0 2px var(--fds-semantic-border-danger-default);
    }
  }

  &__header-button {
    text-decoration: none;
    padding: 0;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
  }

  &__user-action {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .control-header {
    &__search {
      max-width: 16rem;
      padding-bottom: 2rem;
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-bottom: 1rem;
    }
  }

  .pagination-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    &__button-list {
      display: inline-flex;
      .number-button {
        margin: 0 0.25rem;
        width: 0.5rem;
      }
    }
    &__pagination-select-wrapper {
      display: flex;
      align-items: center;
      label {
        margin-right: 0.75rem;
      }
      .pagination-select {
        min-width: 4rem;
        input {
          max-width: 1.5rem;
        }
      }
    }
  }

  &__column-filter {
    &-sort {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    > div > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10%;
    }
    &-select {
      width: 50%;
      max-width: 10rem;
    }
  }

  .table-skeleton {
    padding: 1rem;
  }
}
