.testlab-table {
  a {
    color: var(--fds-semantic-text-action-default);
  }

  &__table {
    margin-bottom: 1rem;
    table-layout: fixed;
    overflow-wrap: break-word;
  }

  &__header-button {
    text-decoration: none;
    padding: 0;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
  }

  &__user-action {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .control-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    padding-bottom: 1rem;

    &__size-selection {
      grid-column: 1 / 2;
    }

    &__input {
      grid-column: 10 / 13;
    }
  }

  .pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    &__button-list {
      display: inline-flex;
      .number-button {
        margin: 0 0.25rem;
        width: 0.5rem;
      }
    }
  }

  .table-skeleton {
    padding: 1rem;
  }
}
