.lagreOgNeste {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
}

.lagreOgNesteAlert {
  width: fit-content;
}

.lagret {
  display: flex;
  color: var(--ds-color-success-surface-default);
  align-items: center;
}
