.hovedoverskrift {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.infoboks {
  margin-bottom: 1rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.lagre-og-lukk {
  margin-bottom: 4rem;
}

.tilbake-og-neste {
  display: flex;
  gap: 1rem;
}

.kontroll-tittel {
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.loesninger {
  h2 {
    margin-bottom: 1rem;
  }

  margin-bottom: 4rem;
}

.liste {
  list-style: none;
  padding: 0;

  .listeelement-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-right: 2rem;
  }

  .listeelement {
    display: flex;
    align-items: center;

    background-color: var(--fds-semantic-surface-first-light);
    border-radius: 10px;
    margin: 1rem 0;

    .navn {
      align-self: stretch;
      background-color: #bcbdec;
      border-radius: 10px 0 0 10px;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
      width: 33%;
      overflow: hidden;
      word-break: break-word;
    }

    .navn > * {
      text-overflow: ellipsis;
    }

    .nettsteder-og-mobilapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 2rem;

      .nettsteder,
      .mobilapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .slett {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin-left: auto;
      margin-right: 1rem;
    }
  }

  margin-bottom: 2rem;
}

.pagination {
  display: flex;

  * {
    flex-grow: 1;
  }
}
