.resultat-table {
  .odd {
    background: #d9d9d980 50% !important;
    td {
      background: #d9d9d980 50% !important;
    }
  }
}

.resultat-header {
  background: var(--fds-semantic-surface-action-subtle);
  padding: 1rem;
  width: 100%;

  #kontrollTypeFilter {
    max-width: 20%;
  }

  #kontrollDateFilter {
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
  }
}
